<footer class="footer">
  <div class="container">
    <div class="row justify-content-center py-5">
      <div class="col-11">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
            <a class="navbar-brand" href="/">
              <span class="navbar-brand-text">DEADLINE</span>
              <span class="navbar-brand-desc">X</span>
            </a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-12">
            <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
            <ul>
              <li><a class="text-muted-white" href="/">Home</a></li>
              <li><a class="text-muted-white" href="#">About</a></li>
              <li><a class="text-muted-white" href="#">Portfolio</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-12">
            <h6 class="mb-3 mb-lg-4 bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
            <p class="mb-1 text-muted-white">227 NGUYEN VAN CU, DISTRICT 5</p>
            <p class="text-muted-white"> HO CHI MINH CITY</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
            <p class="mb-3 social mb-0 pb-0 bold-text">
              <span class="mx-2">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </span>
              <span class="mx-2">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </span>
              <span class="mx-2">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </span>
              <span class="mx-2">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </span>
            </p>
            <small class="rights text-muted-white"><span>&#174;</span>All Rights Reserved By DuyNhat.</small>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-12 order-1 align-self-end">
            <h6 class="mb-3 mt-55 mt-2 bold-text"><b>EMAIL STUDENT</b></h6>
            <small>
              <span>
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
              <span class="text-muted-white">18600369@student.hcmus.edu.vn</span>
            </small>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-12 order-2 mt-3 align-self-end">
            <h6 class="mb-3 bold-text"><b>CONTACT ME</b></h6>
            <small>
              <span>
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
              <span class="text-muted-white"> duynhat719@gmail.com</span>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>