<div class="mt-4 mb-4">
  <div class="container">
    <h2 class="title-header mt-4 mb-4">{{title}}</h2>
    <div class="row justify-content-center">
      <div class="col col-sm-12 col-md-12 col-lg-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Tên công việc</th>
              <th scope="col">Ghi chú cho công việc</th>
              <th scope="col" colspan="3">Trạng thái</th>
            </tr>
          </thead>
          <tbody>
            {{#each showTodoList}}
            <tr>
              <th scope="row">{{sum @index 1}}</th>
              <td>{{this.name}}</td>
              <td>{{this.des}}</td>
              <td> Chưa hoàn thành</td>
              <td><a href="#">Done</a></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col col-sm-12 col-md-12 col-lg-12">
        <div class="button-create-new">
          <a class="btn button-color" href="/me/create/todo">+</a>
        </div>
      </div>
    </div>
  </div>
</div>